/* GENERALES */
html{
    font-family: 'Roboto', serif;
}

/* SIDEBAR */

.side-menu {
    width: 80px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #383737;
    transition: width 0.3s ease;
    overflow: hidden;
}

.nav{
    justify-content: space-between;
    height: 100%;
}

.nav-link{
    width: 100%;
    display: flex;
    align-items: center;
    border-left: 2px solid transparent;
}

span.link-text{
    font-size: 1rem !important;
    margin-left: 3rem;
}

.side-logo{
    color: white;
    font-size: 1.5rem;
    margin-left: 50px;
}

.active{
    border-left: 2px solid  rgb(6, 143, 255);
    color: rgb(77, 173, 252);
}

.nav-link span{
    color: white;
    font-size: 2rem;
}

/* SIDEBAR EXPANDIDO */
#expand-btn{
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.expanded{
    width: 250px;
}

.side-menu .nav-link .link-text {
    margin-left: 10px;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

.side-menu.expanded .nav-link .link-text {
    opacity: 1;
}

/* TABLAS */
.tabla{
    height: 70vh !important;
}

.tabla-btn{
    display: flex;
    column-gap: .5rem;
}

.tabla-btn .editar{
    background-color: rgb(23, 211, 23);
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: .5rem 1rem;
    transition: background-color .3s ease;
}

.tabla-btn .editar:hover{
    background-color: rgb(23, 190, 23);
}


.tabla-btn .eliminar{
    background-color: rgb(185, 4, 4);
    color: white;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: .5rem 1rem;
    transition: background-color .3s ease;
}

.tabla-btn .eliminar:hover{
    background-color: rgb(165, 4, 4);
}


/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

.modal-contenido form{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
