{%extends "base.html"%}
{%block content%}
<div>
    <input type="text" placeholder="Buscar...">
</div>
<div>
    <h1>Destacado</h1>
</div>
<div>
    <img src="../static/img/Firefly gorra 10983.jpg" alt="">
    <div>
        <h3>Titulo del articulo</h3>
        <p>Precio</p>
        <p>Precion c/ descuento <span>Ahora</span></p>
    </div>
</div>
<div>
    <div>
        <img src="../static/img/lado-del-camion (1).png" alt="">
        <h4>Envios a todo el pais</h4>
    </div>
    <div>
        <img src="../static//img/cerrar.png" alt="">
        <h4>Seguridad en tus compras</h4>
    </div>
    <div>
        <img src="../static/img/tarjeta-de-credito.png" alt="">
        <h4>Todos los medios de pago</h4>
    </div>
</div>
<div>
    <h4>ELEGANCIA</h4>
    <img src="../static/img/Firefly pantalon 10983.jpg" alt="">
</div>
<div>
    <h4>DISENO</h4>
    <img src="../static/img/Firefly camiseta 1058.jpg" alt="">
</div>
{%endblock%}