{% extends "dashboard/panel.html" %}

{% block content %}
<div>
    <table id="tabla">
        <thead>
            <th>ID</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Subcategoria</th>
            <th>Marca</th>
            <th>Variacion</th>
            <th>Cantidad Disponible</th>
            <th>Acciones</th>
        </thead>
    </table>
    <button id="agregar-btn">Agregar producto</button>

    <div id="modal-agregar" class="modal">
        <div class="modal-contenido">
            <span class="close" onclick="cerrarModalAgregar()">&times;</span>
            <h2>Agregar Producto</h2>
            <form id="agregar-form">
                <div hidden>
                    <label for="input-id-ag">ID:</label>
                    <input type="text" id="input-id-ag" readonly>
                </div>
                <div>
                    <label for="input-codigo-ag">Codigo:</label>
                    <input type="text" id="input-codigo-ag">
                </div>
                <div>
                    <label for="input-nombre-ag">Nombre:</label>
                    <input type="text" id="input-nombre-ag">
                </div>
                <div>
                    <label for="input-descripcion-ag">Descripción:</label>
                    <input type="text" id="input-descripcion-ag">
                </div>
                <div>
                    <label for="input-precio-ag">Precio:</label>
                    <input type="number" id="input-precio-ag">
                </div>
                <div>
                    <label for="input-categoria-ag">Categoría:</label>
                    <input type="text" id="input-categoria-ag">
                </div>
                <div>
                    <label for="input-subcategoria-ag">Subcategoría:</label>
                    <input type="text" id="input-subcategoria-ag">
                </div>
                <div>
                    <label for="input-marca-ag">Marca:</label>
                    <input type="text" id="input-marca-ag">
                </div>
                <div>
                    <label for="input-variacion-ag">Variación:</label>
                    <input type="text" id="input-variacion-ag">
                </div>
                <div>
                    <label for="input-cantidad-disponible-ag">Cantidad Disponible:</label>
                    <input type="number" id="input-cantidad-disponible-ag">
                </div>
                <button type="submit">Agregar producto</button>
                <button id="cerrar-btn">Cancelar</button>
            </form>
        </div>
    </div>

    <div id="modal-editar" class="modal">
        <div class="modal-contenido">
            <span id="cerrar-editar" class="close">&times;</span>
            <h2>Editar Producto</h2>
            <form id="editar-form">
                <div>
                    <label for="input-id">ID:</label>
                    <input type="text" id="input-id" readonly>
                </div>
                <div>
                    <label for="input-codigo">Codigo:</label>
                    <input type="text" id="input-codigo">
                </div>
                <div>
                    <label for="input-nombre">Nombre:</label>
                    <input type="text" id="input-nombre">
                </div>
                <div>
                    <label for="input-descripcion">Descripción:</label>
                    <input type="text" id="input-descripcion">
                </div>
                <div>
                    <label for="input-precio">Precio:</label>
                    <input type="text" id="input-precio">
                </div>
                <div>
                    <label for="input-categoria">Categoría:</label>
                    <input type="text" id="input-categoria">
                </div>
                <div>
                    <label for="input-subcategoria">Subcategoría:</label>
                    <input type="text" id="input-subcategoria">
                </div>
                <div>
                    <label for="input-marca">Marca:</label>
                    <input type="text" id="input-marca">
                </div>
                <div>
                    <label for="input-variacion">Variación:</label>
                    <input type="text" id="input-variacion">
                </div>
                <div>
                    <label for="input-cantidad-disponible">Cantidad Disponible:</label>
                    <input type="text" id="input-cantidad-disponible">
                </div>
                <button type="submit">Guardar Cambios</button>
                <button id="cerrar-editar-btn" type="button">Cancelar</button>
            </form>
        </div>
    </div>
</div>
<script type="module" src="{{ url_for('static', filename='js/dashboard-stock.js') }}"></script>
{% block scripts %}
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- BOOTSTRAP 5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- DATATABLES -->
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap5.min.js"></script>
    <!-- LOCALES -->
{% endblock %}
{% endblock %}