{% extends "dashboard/panel.html" %}

{% block content %}
<div>
    <table id="tabla">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Subcategoria</th>
            <th>Marca</th>
            <th>Imagen</th>
            <th>Variacion</th>
            <th>Cantidad Disponible</th>
            <th>Acciones</th>
        </thead>
    </table>
    <div id="modal-editar" class="modal">
        <div class="modal-contenido">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2>Editar Producto</h2>
            <form id="editar-form">
                <div>
                    <label for="input-id">ID:</label>
                    <input type="text" id="input-id" readonly>
                </div>
                <div>
                    <label for="input-nombre">Nombre:</label>
                    <input type="text" id="input-nombre">
                </div>
                <div>
                    <label for="input-descripcion">Descripción:</label>
                    <input type="text" id="input-descripcion">
                </div>
                <div>
                    <label for="input-precio">Precio:</label>
                    <input type="text" id="input-precio">
                </div>
                <div>
                    <label for="input-categoria">Categoría:</label>
                    <input type="text" id="input-categoria">
                </div>
                <div>
                    <label for="input-subcategoria">Subcategoría:</label>
                    <input type="text" id="input-subcategoria">
                </div>
                <div>
                    <label for="input-marca">Marca:</label>
                    <input type="text" id="input-marca">
                </div>
                <div>
                    <label for="input-url-imagen">URL Imagen:</label>
                    <input type="text" id="input-url-imagen">
                </div>
                <div>
                    <label for="input-variacion">Variación:</label>
                    <input type="text" id="input-variacion">
                </div>
                <div>
                    <label for="input-cantidad-disponible">Cantidad Disponible:</label>
                    <input type="text" id="input-cantidad-disponible">
                </div>
                <button type="submit">Guardar Cambios</button>
                <button type="button" onclick="cerrarModal()">Cancelar</button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}