{% extends "dashboard/panel.html" %}

{% block content %}
<div>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th>Subcategoria</th>
            <th>Marca</th>
            <th>Imagen</th>
            <th>Variacion</th>
            <th>Cantidad Disponible</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.categoria}}</td>
                    <td>{{producto.subcategoria}}</td>
                    <td>{{producto.marca}}</td>
                    <td>{{producto.url_imagen}}</td>
                    <td>{{producto.variacion}}</td>
                    <td>{{producto.cantidad_disponible}}</td>
                    <td>
                        <button id="editar" data-id="{{producto.id}}">Editar</button>
                        <button id="eliminar" data-id="{{producto.id}}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="modal-editar" class="modal">
        <div class="modal-contenido">
            <span class="close" onclick="cerrarModal()">&times;</span>
            <h2>Editar Producto</h2>
            <form id="editar-form">
                <div>
                    <label for="input-id">ID:</label>
                    <input type="text" id="input-id" readonly>
                </div>
                <div>
                    <label for="input-nombre">Nombre:</label>
                    <input type="text" id="input-nombre">
                </div>
                <div>
                    <label for="input-descripcion">Descripción:</label>
                    <input type="text" id="input-descripcion">
                </div>
                <div>
                    <label for="input-precio">Precio:</label>
                    <input type="text" id="input-precio">
                </div>
                <div>
                    <label for="input-categoria">Categoría:</label>
                    <input type="text" id="input-categoria">
                </div>
                <div>
                    <label for="input-subcategoria">Subcategoría:</label>
                    <input type="text" id="input-subcategoria">
                </div>
                <div>
                    <label for="input-marca">Marca:</label>
                    <input type="text" id="input-marca">
                </div>
                <div>
                    <label for="input-url-imagen">URL Imagen:</label>
                    <input type="text" id="input-url-imagen">
                </div>
                <div>
                    <label for="input-variacion">Variación:</label>
                    <input type="text" id="input-variacion">
                </div>
                <div>
                    <label for="input-cantidad-disponible">Cantidad Disponible:</label>
                    <input type="text" id="input-cantidad-disponible">
                </div>
                <button type="submit">Guardar Cambios</button>
                <button type="button" onclick="cerrarModal()">Cancelar</button>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}