{% extends 'dashboard/panel.html' %}
{% block content %}
<div>
    <table id="tabla-users" class="tabla table table-striped table-bordered">
        <thead>
            <th>ID</th>
            <th>Nombre de usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Fecha Creacion</th>
        </thead>
    </table>
    <button id="agregar-btn" class="btn btn-primary">Agregar usuarios</button>
</div>

<div id="modal-agregar" class="modal">
    <div class="modal-contenido">
        <span class="close" id="cerrar-ag">&times;</span>
        <h2>Agregar Usuarios</h2>
        <form id="agregar-form">
            <div hidden>
                <label>ID:<input type="text" id="input-id-ag" readonly></label>
            </div>
            <div>
                <label>Nombre:<input type="text" id="input-nombre-ag"></label>
            </div>
            <div>
                <label>Email:<input type="email" id="input-email-ag"></label>
            </div>
            <div>
                <label>Contraseña:<input type="password" id="input-contrasena-ag"></label>
            </div>
            <div>
                <label>Rol:
                <select id="input-rol-ag">
                    <option disabled selected>Selecciona un rol...</option>
                    <option value="cliente">Cliente</option>
                    <option value="empleado">Empleado</option>
                    <option value="proveedor">Proveedor</option>
                    <option value="admin">Administrador</option>
                </select>
                </label>
            </div>
            <div>
                <label>Estado:
                <select id="input-estado-ag">
                    <option disabled selected>Selecciona un estado...</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
                </label>
            </div>
            <button type="submit">Agregar usuario</button>
            <button id="cerrar-btn-ag">Cancelar</button>
        </form>
    </div>
</div>

<div id="modal-editar" class="modal">
    <div class="modal-contenido">
        <span id="cerrar-editar" class="close">&times;</span>
        <h2>Permisos usuario</h2>
        <form id="editar-form">
            <div hidden>
                <label>ID:<input type="text" id="input-id-ed" readonly></label>
            </div>
            <div>
                <label>Rol:
                <select id="input-rol-ed">
                    <option disabled selected>Selecciona un rol...</option>
                    <option value="cliente">Cliente</option>
                    <option value="empleado">Empleado</option>
                    <option value="proveedor">Proveedor</option>
                    <option value="admin">Administrador</option>
                </select>
                </label>
            </div>
            <div>
                <label>Estado:
                <select id="input-estado-ed">
                    <option disabled selected>Selecciona un estado...</option>
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
                </label>
            </div>
            <button type="submit">Guardar cambios</button>
            <button id="cerrar-btn-ed">Cancelar</button>
        </form>
    </div>
</div>
{% block scripts %}
{{ super() }}
    <script type="module" src="{{ url_for('static', filename='js/dashboard-users.js') }}"></script>
{% endblock %}
{% endblock %}